<mat-grid-list [cols]="numberOfCols" [rowHeight]="150" >
  <mat-grid-tile  [rowspan]="11">
    <mat-grid-tile-header>Monday</mat-grid-tile-header>

    <div class="wrapper">
      <header class="header"><br><br>10 Tasks</header>
      <div class="panel">Task A</div>
      <div class="panel">Task B</div>
      <div class="panel">Task C</div>
      <div class="panel">Task D</div>
      <div class="panel">Task E</div>
      <div class="panel">Task F</div>
      <div class="panel">Task G</div>
      <div class="panel">Task H</div>
      <div class="panel">Task I</div>
      <div class="panel">Task J</div>
    </div>

  </mat-grid-tile>



  <mat-grid-tile [rowspan]="4">
    <mat-grid-tile-header>Tuesday</mat-grid-tile-header>
    <div class="wrapper">
      <header class="header"><br><br>3 Tasks</header>
      <div class="panel">Task D</div>
      <div class="panel">Task E</div>
      <div class="panel">Task F</div>

    </div>  </mat-grid-tile>
  <mat-grid-tile [rowspan]="3">
    <mat-grid-tile-header>Wednesday</mat-grid-tile-header>
    <div class="wrapper">
      <header class="header"><br><br>2 Tasks</header>
      <div class="panel">Task G</div>
      <div class="panel">Task H</div>

    </div>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="2">
    <mat-grid-tile-header>Thursday</mat-grid-tile-header>
    <div class="wrapper">
      <header class="header"><br><br>1 Task</header>

      <div class="panel">Task I</div>

    </div>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="3">
    <mat-grid-tile-header>Friday</mat-grid-tile-header>
    <div class="wrapper">
      <header class="header"><br><br>2 Tasks</header>

      <div class="panel">Task J</div>
      <div class="panel">Task K</div>

    </div>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="8">
    <mat-grid-tile-header>Saturday</mat-grid-tile-header>
    <div class="wrapper">
      <header class="header"><br><br>7 Tasks</header>

      <div class="panel">Task L</div>
      <div class="panel">Task M</div>
      <div class="panel">Task N</div>
      <div class="panel">Task O</div>
      <div class="panel">Task P</div>
      <div class="panel">Task Q</div>
      <div class="panel">Task R</div>

    </div>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="3">
    <mat-grid-tile-header>Sunday</mat-grid-tile-header>
    <div class="wrapper">
      <header class="header"><br><br>2 Tasks</header>

      <div class="panel">Task S</div>
      <div class="panel">Task T</div>

    </div>
  </mat-grid-tile>
</mat-grid-list>
